<ion-tabs>
  
  <!--Barra de tabs en la parte inferior de la pantalla-->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabInicio">
      <ion-icon name="today"></ion-icon>
      <ion-label>{{"tabInicio" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabListado">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>{{"tabListado" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
        <ion-icon name="time"></ion-icon>
      <ion-label>Temporal</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
